files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        upstream containers {
            least_conn;
            server 127.0.0.1:81;
            server 127.0.0.1:82;
            server 127.0.0.1:83;
        }
        server {

            listen       80 default_server;
            listen       [::]:80 default_server;
            server_name  _;

            client_max_body_size 40M;
            large_client_header_buffers 4 16k;
            if_modified_since before;
            recursive_error_pages on;
            keepalive_timeout  15;
            proxy_http_version 1.1;


            location / {
                proxy_buffering    off;
                proxy_pass http://containers$request_uri;
            }
        }

  /etc/nginx/nginx.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # For more information on configuration, see:
      #   * Official English Documentation: http://nginx.org/en/docs/
      #   * Official Russian Documentation: http://nginx.org/ru/docs/

      user  nginx;
      worker_processes  auto;

      #daemon on;
      worker_rlimit_nofile 16000;

      pid        /var/run/nginx.pid;

      events {
          worker_connections 8000;
          multi_accept on;
      }

      http {
          log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';

          access_log  /var/log/nginx/access.log  main;

          server_tokens              off;
          sendfile                    on;
          send_timeout                10;
          proxy_send_timeout          300;
          proxy_connect_timeout       300;
          proxy_read_timeout          300;
          keepalive_timeout           15;

          include             /etc/nginx/mime.types;
          default_type        application/octet-stream;

          # Load modular configuration files from the /etc/nginx/conf.d directory.
          # See http://nginx.org/en/docs/ngx_core_module.html#include
          # for more information.
          include /etc/nginx/conf.d/*.conf;

      }

  /etc/security/limits.d/100user-limits.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        * -    nofile  10240
        * -    nproc   8192
        * -    core    unlimited
        * -    memlock 40000
