packages:
  yum:
    nginx: []
    mlocate: []

services:
  sysvinit:
    nginx:
      enabled: true
      ensureRunning: true
      files : [/etc/nginx/nginx.conf,/etc/nginx/conf.d/proxy.conf]

commands:
  increase_max_files:
    command: /sbin/sysctl -w fs.file-max=2097152
  reduce_tcp_wait_time:
    command: /sbin/sysctl -w net.ipv4.netfilter.ip_conntrack_tcp_timeout_time_wait=1
  limits_reload:
    command: /sbin/sysctl -p
  restart_nginx:
    command: /etc/init.d/nginx restart
